pandas
numpy==1.23.5
seaborn
matplotlib
scikit-learn
xgboost
catboost
flask
flask-sqlalchemy
flask-bcrypt
flask-login
flask_mail
python-dotenv
psycopg2-binary
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client

-e .
